.wd-profile {
    margin-left: 320px;
    margin-right: 200px;
    bottom: 0;
    flex: 1;
}

.wd-profile i {
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.wd-profile-edit {
    white-space: normal;
    margin-left: 320px;
    margin-right: 200px;
    bottom: 0;
    flex: 1;
}


.wd-profile-edit i {
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.wd-profile-edit span {
    color: red
}

.wd-profile span {
    color: red
}


.wd-profile-edit label {
    font-weight: bold;
}

.wd-profile h1 {
    margin-bottom: 30px;
}

.wd-profile p {
    margin-bottom: 30px;
}

.wd-profile a > i {
    font-size: 18px;
    color: grey;
}

.wd-profile a {
    text-decoration: none;
    color: red
}

.wd-edit-button {
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.wd-edit-button button {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px;
    font-size: 15px;
}

.wd-edit-arrow  {
    font-size: 10px;
    padding: 0;
    margin-top: 10;
}

.wd-edit-x  {
    font-size: 10px;
    padding: 0;
    margin-top: 10;
    color: red;
}

.wd-edit-links i {
    font-size: 25px;
    padding: 2;
    margin-top: 7px;
    margin-right:2px;
}

.wd-edit-title {
    font-size: 25px;
    padding:0;
}


