
.wd-account-navigation {
    width: 190px;
    position: fixed;
    top: 0; 
    left: 80px; 
    bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.wd-account-navigation .list-group {
    border-radius: 0;
    margin-left: 12px;
}

.wd-account-navigation .list-group-item {
    border: none;
}

.wd-account-navigation .list-group-item a {
    text-decoration: none;
    color: red;
}

.wd-account-navigation .list-group-item.active a {
    text-decoration: none;
    color: black;
}

.wd-account-navigation .list-group-item.active {
    border: none;
    border-left: 2px solid black;
    color: black;
    background-color: white;
}





