.wd-account-navigation {
    width: 190px;
}

.wd-account-navigation .list-group {
    border-radius: 0;
    margin-left: 12px;
}

.wd-account-navigation .list-group-item {
    border: none;
    padding-left:10px;
}

.wd-account-navigation .list-group-item a {
    text-decoration: none;
    color: red;
}

.wd-account-navigation .list-group-item.active a {
    text-decoration: none;
    color: black;
}

.wd-account-navigation .list-group-item.active {
    border: none;
    border-left: 2px solid black;
    color: black;
    background-color: white;
}

.wd-account-navigation .list-group-item a > i {
    padding-right:7px;
}

.wd-account-navigation .list-group-item li > i {
    margin-left:20px;
    color:gray;
}

.wd-account-navigation-navbar {
    width: 100%;
}


